ul(class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate")
  li( class="nav-item")
    a(href="#" class="nav-link px-2 text-truncate")
      i(class="bi bi-house fs-5")
      span(class="d-none d-sm-inline") Home
  li
    a(href="#" class="nav-link px-2 text-truncate")
      i(class="bi bi-speedometer fs-5")
      span(class="d-none d-sm-inline") Dashboard
  li
    a(href="#" class="nav-link px-2 text-truncate")
      i(class="bi bi-card-text fs-5")
      span(class="d-none d-sm-inline") Orders
  li
    a(href="#" class="nav-link px-2 text-truncate")
      i(class="bi bi-bricks fs-5")
      span(class="d-none d-sm-inline") Products
  li
    a(href="#" class="nav-link px-2 text-truncate")
      i(class="bi bi-people fs-5")
      span(class="d-none d-sm-inline") Customers
